<%= simple_form_for(@vehicle) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :teaser %>
    <%= f.input :sold %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
